body {
    background-image: url(fundoconfeiteiro.png);
    /* background-repeat: no-repeat;
    background-size: cover;*/
    background-position: center;
    text-align: center;
}
.bolo {
    position: relative;
    border-radius: 5rem;
    width: 25rem;
    padding: 25px;
    left: 37%;
}
.carousel {
    padding-top: 5%;
    height: 25%;
}
.bolo-sec, .final  {
    position: relative;
    width: 500px;
    padding: 25px;
    border-radius: 5rem;
}

.logo {
    right: 50%;
    width: 200px;
}
.noticias-principal,.noticias-secundaria,.noticias-terceira{
    text-align: center;
    height: 100px ;
}
footer {
    color: white;
    margin-top: 10%;
    background-color: rgba(86, 84, 84, 0.829);
    font-size: 20px;
    
}
.principal {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.764);
    margin-top:70px;
    padding-top: 35%;
}
.noticias {
    
    border-radius: 15px;
    margin: 5%;
    margin-top: 198px ;
    text-align: center;
}
.noticias p, h1 {
    margin-bottom: 50px;
    font-size: 30px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.764);
}
.final {
    position: float;
    top: 70px;
    /* left: 100px; */
}
.noticias-secundaria {
    /* background-color: rgba(88, 86, 86, 0.34); */
    margin: 5%;
    margin-top: 29%;
}
.noticias-secundaria p {
    margin-bottom: 25%;
    font-size: 30px;
    border-radius: 15px;
    padding-top: 20ssss5px;
    background-color: rgba(255, 255, 255, 0.764);
}

.distaque {
    padding-top: 10%;
}
.finalizar {
    margin-top: 10%;
}
.bolo-sec {
    background: none;
    padding-top: 33px;
    margin-top: 28%;
}
.navegator {
    padding: 25px;
}
.titulo h1 {
    padding: 20px;
}
.container-fluid {
    width: 90%;
}
.Tabela {
    margin-top: 5%;
    padding-top: 30%;
}
.tab{
    padding-top: 25%;
}
.col noticias {
    padding-top: 20%;
    margin-top: 200px;
    border-radius: 15px;
    background-color: rgba(88, 86, 86, 0.34);
}
.display-1 {
    background-color: rgba(255, 255, 255, 0.764);
    border-radius: 100%;
    text-align: center;
}
.noticias-terceira {
    margin-top: 100px;
}
.nossaLogo {
    border-radius: 50%;
    width: 50%;
}
.sobrenos {
    border-radius: 15%;
    background-color: rgba(255, 255, 255, 0.764);
    margin-top: 45px;
    font-size: 25px;
}
.Sobre {
    margin-top: 15%;
}
.Sobre h1 {
    width: auto;
    font-size: 50px;
}